body {
  font-size: 120%;
  font-family: Arial;
  background-color: silver;
}

.App {
  text-align: center;
}

.container {
  border: 6px;
  border-width: 100%;
  border-color: rgb(30, 30, 97); 
  border-style: solid;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0 0 15px 2px;
  background-color: white;
  padding: 30px;
  margin: 3%;
  height: 600px;
}

.footer, h1 {
  background-color: rgb(30, 30, 97);
  text-align: center;
  padding: 5px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 15px 4px black;
  margin: 2%;
  color: white;
}

.footer p, a, a:hover {
  color: white;
}

